node_modules
.DS_Store
/sample/test.html
/sample/test.js
/sample/tweenmax
/.idea
src/**/*.js
/sample/benchmark.html
/sample/performance_check
/sample/button24.html
/sample/test_memory.html
/sample/test_memory.js
